*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#27374D; 
    color:white
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family:  sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}


#socico{
  margin-left: 10px;
  font-size: 20px;

  
}

#socico:hover{
  color: white;
  
}

#connect{
  margin-left: 20px;
  border: 0.3px solid white;
  padding: 7px;
  font-weight:600;
}

#connect:hover{

  background-color: white;
  color: black;
}


.banner {
  margin-top: 0;
  padding: 100px 0 100px 0 !important;

}


.profile{
  margin: 70px 100px 50px ;
 
  animation:slide-top 2s ease-in-out infinite alternate forwards
}




@keyframes slide-top{
  0%{transform:translateY(-40px)}



100%{transform: translateY(20px);border-radius: 79% 21% 3% 97% / 65% 85% 15% 35%}
}



#skills{
  height: 100vh;
}

.Card.Title{
  text-align: center;
}

 img{

  border-radius: 10px;

}

.profile{
  width:250px;
  height:250px;
  border-radius: 57% 43% 71% 29% / 17% 82% 18% 83%;
  background-color: yellow;
}

#contact{
  width: 90%;
  animation: scale-up-center 0.6s  ease-in-out both;
}

@keyframes scale-up-center {
  0% {
    
            transform: scale(0.5);
  }
  100% {
  
            transform: scale(1);
  }
}


.firstsec{
  padding-top:15px ;
  height: 100vh;
  background-color: #27374D;
  row-gap: 10px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  
}

.land{
  padding-top:15px ;
  height: 100vh;
  background-color: #27374D;
  gap: 20px;
  justify-items:center;
  align-items:center;
  color: white;
}